* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: #333;
	--background-color: white;

	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050f;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #dad8d8;
		--background-color: #15202b;

		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;
	}
}

body {
	color: var(--primary-color);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: var(--background-color);
}

#main_content {
	outline: 1px solid grey;
	width: 98%;
	max-width: 1000px;
	margin-inline: auto;
	min-height: 100dvh;
	padding-top: 10px;
	padding-bottom: 10px;
}

h1 {
	text-align: center;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

li {
	list-style-position: inside;
}