/* inter-regular */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	src: local("Inter Regular"), local("Inter-Regular"),
		url(/fonts/inter/inter-regular.woff2) format("woff2");
}
/* inter-semibold */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	src: local("Inter SemiBold"), local("Inter-SemiBold"),
		url(/fonts/inter/inter-semibold.woff2) format("woff2");
}
/* inter-bold */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	src: local("Inter Bold"), local("Inter-Bold"),
		url(/fonts/inter/inter-bold.woff2) format("woff2");
}
/* inter-extrabold */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 800;
	src: local("Inter ExtraBold"), local("Inter-ExtraBold"),
		url(/fonts/inter/inter-extrabold.woff2) format("woff2");
}
